In [2]:
import pandas as pd

powers = pd.read_csv('power.csv')
powers.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [3]:
powers['country'].unique()
powers[ powers['country'].str.contains('est', case=False) ]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [4]:
Latv_lit_Est = powers[ (powers['country']== 'Lithuania')| (powers['country']== 'Latvia') | (powers['country']== 'Estonia')]
print(Latv_lit_Est)

           country  year  quantity  category
373      Lithuania  2014      39.0         1
374      Lithuania  2013     192.0         1
375      Lithuania  2012     196.0         1
376      Lithuania  2011     171.0         1
377      Lithuania  2010     158.0         1
...            ...   ...       ...       ...
1188862  Lithuania  2003       0.0        71
1188863  Lithuania  2002       0.0        71
1188864  Lithuania  2001       0.0        71
1188865  Lithuania  2000       0.0        71
1188866  Lithuania  1999       0.0        71

[27306 rows x 4 columns]

In [17]:
Filtered_table = Latv_lit_Est.query('year > 2005 and year < 2010 and quantity > 0 and \
(category == 4 or category == 12 or category == 21)')

print(Filtered_table)

          country  year  quantity  category
10617     Estonia  2008       1.0         4
11156   Lithuania  2008       1.0         4
11158   Lithuania  2006       1.0         4
12755     Estonia  2008       1.0         4
13294   Lithuania  2008       1.0         4
...           ...   ...       ...       ...
253966     Latvia  2006      27.0        21
253982  Lithuania  2009      98.0        21
253983  Lithuania  2008      54.0        21
253984  Lithuania  2007      47.0        21
253985  Lithuania  2006      31.0        21

[238 rows x 4 columns]

In [23]:
df = pd.read_html('http://www.fortrader.org/quotes')[2]
# https://fortrader.org/quotes

In [24]:
print(df)

                      Название       Цена   Изменение Изменение(%)  Обновлено
0      Серебро Цена на серебро    17.4090      +0.007       +0.040        NaN
1    Палладий Цена на Палладий  1949.8500  нет данных   нет данных        NaN
2  Золото Цена золота на бирже  1688.2000        -0.8         -0.0        NaN
3      Платина Цены на платину   831.3000        -3.2         -0.4        NaN
4      Медь Цена меди на бирже     2.4575     -0.0845      -3.3242        NaN