In [5]:
import pandas as pd

#### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
	- оценка 2 и меньше - низкий рейтинг
	- оценка 4 и меньше - средний рейтинг
	- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [23]:
data_film = pd.read_csv(r'D:\Python\ratings.csv')

In [26]:
data_film.head()
# data_film.rating.unique()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [81]:
def class_rating(df):
    if df['rating'] <= 2:
        return  "низкий"
    if df['rating'] <= 4 and  df['rating'] >2:
        return  "средний"
    if df['rating'] > 4:
        return  "высокий"

In [84]:
data_film['class'] = data_film.apply(class_rating, axis = 1)

In [85]:
data_film.head()

   userId  movieId  rating  timestamp new_param    class
0       1        1     4.0  964982703   средний  средний
1       1        3     4.0  964981247   средний  средний
2       1        6     4.0  964982224   средний  средний
3       1       47     5.0  964983815   высокий  высокий
4       1       50     5.0  964982931   высокий  высокий

#### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [91]:
data_geo = pd.read_csv(r'D:\Python\11FunctionsGroupBy\keywords.csv')

In [92]:
data_geo.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195