In [5]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import pandas as pd

/Users/arthursaprykin/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
data = ['мама мыла раму', 'папа любит маму и раму', 'раму укусила собака']

In [23]:
cvect = CountVectorizer()
vals = cvect.fit_transform(data).toarray()
cols = sorted(cvect.vocabulary_, key=lambda x: cvect.vocabulary_[x])
pd.DataFrame(vals, columns=cols)

   любит  мама  маму  мыла  папа  раму  собака  укусила
0      0     1     0     1     0     1       0        0
1      1     0     1     0     1     1       0        0
2      0     0     0     0     0     1       1        1

In [24]:
tfidf = TfidfVectorizer()
vals = tfidf.fit_transform(data).toarray()
cols = sorted(tfidf.vocabulary_, key=lambda x: tfidf.vocabulary_[x])
pd.DataFrame(vals, columns=cols)

,любит,мама,маму,мыла,папа,раму,собака,укусила
0,0.000000,0.652491,0.000000,0.652491,0.000000,0.385372,0.000000,0.000000
1,0.546454,0.000000,0.546454,0.000000,0.546454,0.322745,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.385372,0.652491,0.652491

In [26]:
colors = ['red blue', 'black/white', 'black', 'grey']

cvect = CountVectorizer()
vals = cvect.fit_transform(colors).toarray()
cols = sorted(cvect.vocabulary_, key=lambda x: cvect.vocabulary_[x])
pd.DataFrame(vals, columns=cols)

   black  blue  grey  red  white
0      0     1     0    1      0
1      1     0     0    0      1
2      1     0     0    0      0
3      0     0     1    0      0